/* ===============================
=            Choices            =
=============================== */

@use 'sass:math';
@use 'sass:color';
@use './functions';
@import './vars';

.#{$choices-selector} {
  position: relative;
  overflow: hidden;
  margin-bottom: $choices-guttering;
  font-size: $choices-font-size-lg;

  &:focus {
    outline: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.is-open {
    overflow: visible;
  }

  &.is-disabled {
    .#{$choices-selector}__inner,
    .#{$choices-selector}__input {
      background-color: $choices-bg-color-disabled;
      cursor: not-allowed;
      user-select: none;
    }
    .#{$choices-selector}__item {
      cursor: not-allowed;
    }
  }

  [hidden] {
    display: none !important;
  }
}

.#{$choices-selector}[data-type*='select-one'] {
  cursor: pointer;
  .#{$choices-selector}__inner {
    padding-bottom: $choices-base-spacing;
  }
  .#{$choices-selector}__input {
    display: block;
    width: 100%;
    padding: $choices-single-item-padding;
    border-bottom: $choices-inner-border-width $choices-inner-border-style $choices-keyline-color;
    background-color: $choices-input-bg-color;
    margin: 0;
  }
  .#{$choices-selector}__button {
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -(math.div($choices-button-dimension, 2));
    margin-right: $choices-arrow-size + ($choices-inner-spacing * 2) + $choices-button-offset;
    height: $choices-button-dimension;
    width: $choices-button-dimension;
    border-radius: 10em;
    opacity: 0.25;
    mask-image: $choices-icon-cross;
    mask-size: $choices-button-dimension * 0.4;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: currentColor;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:focus {
      box-shadow: 0 0 0 2px $choices-highlight-color;
    }
  }
  .#{$choices-selector}__item[data-placeholder] .#{$choices-selector}__button {
    display: none;
  }

  &::after {
    content: '';
    height: 0;
    width: 0;
    border-style: solid;
    border-color: $choices-arrow-color transparent transparent transparent;
    border-width: $choices-arrow-size;
    position: absolute;
    right: $choices-inner-spacing + $choices-arrow-size;
    top: 50%;
    margin-top: -(math.div($choices-arrow-size, 2));
    pointer-events: none;
  }

  &.is-open::after {
    border-color: transparent transparent $choices-arrow-color;
    margin-top: -(math.div($choices-arrow-size, 2) + $choices-base-spacing);
  }

  &[dir='rtl'] {
    &::after {
      left: $choices-inner-spacing + $choices-arrow-size;
      right: auto;
    }
    .#{$choices-selector}__button {
      right: auto;
      left: 0;
      margin-left: $choices-arrow-size + ($choices-inner-spacing * 2) + $choices-button-offset;
      margin-right: 0;
    }
  }
}

.#{$choices-selector}[data-type*='select-multiple'],
.#{$choices-selector}[data-type*='text'] {
  .#{$choices-selector}__inner {
    cursor: text;
  }
  .#{$choices-selector}__button {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-right: -$choices-button-offset * 0.5;
    margin-bottom: 0;
    margin-left: $choices-button-offset;
    padding-left: $choices-button-offset * 2;
    border-left: $choices-multiple-item-border-width $choices-multiple-item-border-style color.adjust($choices-multiple-item-border-color, $lightness: -5%);
    mask-image: $choices-icon-cross;
    mask-size: $choices-button-dimension * 0.4;
    mask-repeat: no-repeat;
    mask-position: center;
    width: $choices-button-dimension;
    line-height: 1;
    opacity: 0.75;
    border-radius: 0;
    background-color: currentColor;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.#{$choices-selector}__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: $choices-bg-color;
  padding: $choices-base-spacing $choices-base-spacing math.div($choices-base-spacing, 2);
  border: $choices-outer-border-width $choices-outer-border-style $choices-keyline-color;
  border-radius: $choices-outer-border-radius;
  font-size: $choices-font-size-md;
  min-height: 44px;
  overflow: hidden;

  .is-focused &,
  .is-open & {
    border-color: color.adjust($choices-keyline-color, $lightness: -15%);
  }

  .is-open & {
    border-radius: $choices-outer-border-radius $choices-outer-border-radius 0 0;
  }

  .is-flipped.is-open & {
    border-radius: 0 0 $choices-outer-border-radius $choices-outer-border-radius;
  }
}

.#{$choices-selector}__list {
  margin: 0;
  padding-left: 0;
  list-style: none;

  &[aria-expanded] {
    @extend %choices-dropdown;
  }
}

.#{$choices-selector}__list--single {
  display: inline-block;
  padding: $choices-inner-spacing ($choices-inner-spacing * 4) $choices-inner-spacing $choices-inner-spacing;
  width: 100%;

  [dir='rtl'] & {
    padding-right: $choices-inner-spacing;
    padding-left: $choices-inner-spacing * 4;
  }
  .#{$choices-selector}__item {
    width: 100%;
  }
}

.#{$choices-selector}__list--multiple {
  display: inline;

  .#{$choices-selector}__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: $choices-multiple-item-border-radius;
    font-size: $choices-multiple-item-font-size;
    padding: $choices-multiple-item-padding;
    font-weight: $choices-multiple-item-font-weight;
    margin-right: math.div($choices-base-spacing, 2);
    margin-bottom: math.div($choices-base-spacing, 2);
    background-color: $choices-primary-color;
    border: $choices-multiple-item-border-width $choices-multiple-item-border-style $choices-multiple-item-border-color;
    color: functions.get-contrast-color($choices-primary-color, 'AA');
    word-break: break-all;
    box-sizing: border-box;

    &[data-deletable] {
      padding-right: 5px;
    }

    [dir='rtl'] & {
      margin-right: 0;
      margin-left: math.div($choices-base-spacing, 2);
    }

    &.is-highlighted {
      background-color: color.adjust($choices-primary-color, $lightness: -5%);
      border: 1px solid color.adjust($choices-primary-color, $lightness: -10%);
    }

    .is-disabled & {
      background-color: color.adjust($choices-disabled-color, $lightness: -25%);
      border: 1px solid color.adjust($choices-disabled-color, $lightness: -35%);
    }
  }
}

%choices-dropdown {
  display: none;
  z-index: $choices-z-index;
  position: absolute;
  width: 100%;
  background-color: $choices-dropdown-bg-color;
  border: $choices-dropdown-border-width $choices-dropdown-border-style $choices-dropdown-border-color;
  top: 100%;
  margin-top: -1px;
  border-bottom-left-radius: $choices-outer-border-radius;
  border-bottom-right-radius: $choices-outer-border-radius;
  overflow: hidden;
  word-break: break-all;

  &.is-active {
    display: block;
  }

  .is-open & {
    border-color: color.adjust($choices-keyline-color, $lightness: -15%);
  }

  .is-flipped & {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: -1px;
    border-radius: 0.25rem 0.25rem 0 0;
  }
  .#{$choices-selector}__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
  }
  .#{$choices-selector}__item {
    position: relative;
    padding: $choices-single-item-padding;
    font-size: $choices-font-size-md;

    [dir='rtl'] & {
      text-align: right;
    }
  }
  .#{$choices-selector}__item--selectable {
    &[data-select-text] {
      @media (min-width: 640px) {
        padding-right: $choices-single-item-padding + 90px; // for now

        &::after {
          content: attr(data-select-text);
          font-size: $choices-font-size-sm;
          opacity: 0;
          position: absolute;
          right: $choices-single-item-padding;
          top: 50%;
          transform: translateY(-50%);
        }

        [dir='rtl'] & {
          text-align: right;
          padding-left: $choices-single-item-padding + 90px; // for now
          padding-right: $choices-single-item-padding;

          &::after {
            right: auto;
            left: $choices-single-item-padding;
          }
        }
      }
    }

    &.is-highlighted {
      background-color: color.mix(#000, #fff, 5%);

      &::after {
        opacity: 0.5;
      }
    }
  }
}

.#{$choices-selector}__list--dropdown {
  @extend %choices-dropdown;
}

.#{$choices-selector}__item {
  cursor: default;
}

.#{$choices-selector}__item--selectable {
  cursor: pointer;
}

.#{$choices-selector}__item--disabled {
  cursor: not-allowed;
  user-select: none;
  opacity: 0.5;
}

.#{$choices-selector}__heading {
  font-weight: $choices-item-heading-font-weight;
  font-size: $choices-item-heading-font-size;
  padding: $choices-item-heading-padding;
  border-bottom: $choices-item-heading-border-bottom;
  color: $choices-item-heading-color;
}

.#{$choices-selector}__button {
  text-indent: -9999px;
  appearance: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  color: currentColor;

  &:focus {
    outline: none;
  }
}

.#{$choices-selector}__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: $choices-bg-color;
  font-size: $choices-font-size-md;
  margin-bottom: $choices-inner-spacing + 1px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: $choices-inner-spacing 0 $choices-inner-spacing math.div($choices-inner-spacing, 2);

  &:focus {
    outline: 0;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  [dir='rtl'] & {
    padding-right: math.div($choices-inner-spacing, 2);
    padding-left: 0;
  }
}

.#{$choices-selector}__placeholder {
  opacity: 0.5;
}

/* =====  End of Choices  ====== */
